.task-details {
  height: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  color: black;
  &__footer {
    border-top: solid 1px #f0f2f6;
    display: flex;
    justify-content: space-between;
    .btn {
      font-size: 1.4rem;
    }
  }
  .btn {
    color: black;
  }
  label {
    font-size: 1.9rem;
    padding: 1.5rem 0;
  }
  input,
  select {
    height: fit-content;
    padding: 0.5rem;
    font-size: 1.8rem;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #f0f2f6;
  }
  input:focus,
  select:focus {
    box-shadow: 0 0 0 2px #4c9aff;
  }
}